html {
    cursor: url('img/mata_mosca.png') 30 30, auto;
}

body{
    margin: 0;
    padding: 0;
    background-image: url('img/bg.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}

.painel {
    position: absolute;
    left: 15px;
    top: 15px;
    width: 190px;
    padding: 10px;
    background-color: transparent;
}

.pontuacao {
    position: absolute;
    right: 15px;
    top: 15px;
    width: 150px;
    padding: 10px;
    background-color: transparent;
}
.pontuacao_final {
    position: absolute;
    width: 150px;
    padding: 10px;
    color: rgb(255, 255, 255);
    background-color: transparent;
}

.vida {
    float: left;
}

.cronometro {
    float: left;
    font-size: 20px;
    font-weight: bold;
}


.mosquito_um {
    width: 80px;
    height: 80px;
}
.mosquito_dois {
    width: 60px;
    height: 60px;
}
.mosquito_tres {
    width: 40px;
    height: 40px;
}

.esquerda {
    transform: scaleX(1);
}

.direita {
    transform: scaleX(-1);
}